h1, h2 {
    font-family: Arial, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;

}

p {

 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif   
}

#container-one   {
    vertical-align:
}

body {
    background-color: red;
    text-align: center;
    margin: 200px 50px;
}