<div id="container-one">
    <div id="intro-img">
        <img src="/imgs/blahblahblah" alt="Marvellous">
    </div>
    <div id="heroOrVillain">
        <h1>Are you a hero or villain?</h1>
        <h2>Take this marvellous quiz and find out!</h2>
    </div>
    <form id="form" action="/question" method="post">
        Name: <input type="text" name="name" value="{{name}}">
        <input type="submit" name="" value="Submit" id="submit">
    </form>
</div>