<div id="container-two">
    <div id="question-img">
        <img src="/public/images/heroimage2.png" alt="Test" height="200" width="200">
    </div>
    <p>Who do you idenify from the choices below when you look at this scene?</p>
</div>